body{
	width: 100%;
}
thead{
	background-color: #aaa;
} 
tbody{
	width: 100%;
	color: #1b4468;
    background-color: rgba(92, 200, 200, 0.72);
}
table{
	size: inherit;
    margin: auto;
    width: 100%
}
th{
	padding: 20px;
    background-color: #5cc8c8;
    color: rgb(48, 129, 148);
    font-size: 20px;
}
th.title{
	text-align: center;
	padding-bottom: 0px;

} 
td{
	padding: 15px;
}
span.glyphicon{
	top:35px;
	font-size: 100px;
	color: #1f8c8c;
	transition: all 1s ease;
}
.no-touch span.glyphicon:hover{
	color: #643289;
	transition: all .1s ease;
}
span.glyphicon:active{
		color: #8c1ad1;
}
span.glyphicon-circle-arrow-up{
	float: right;
}
div.row{
	margin-top: 15%
}
div.arrows{
	padding-left:20px;
	padding-right:20px  
}
tr.selected-row{
	background-color: rgb(87, 219, 230); 
}